body{
    background-color:black;
    font:arial;
    color:white;
}
h1{
    color:grey;
    font:verdana;
    font-size:x-large;
}
.maindiv{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    text-align:center;
}
label{
    display:inline-block;
    float:center;
    clear:center;
    text-align:center;
    width:100px;
}
input{
    display:inline-block;
    float:center;
}
#years{
    display:inline-block;
    float:center;
}
button{
    display:inline-block;
    float:left;
    clear:left;
    text-align:left;
}
footer{
    display:inline-block;
    float:left;
    clear:left;
    text-align:left;
}
mark{
    background-color:yellow;
}


